<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vz-prod-api-public.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7e695216-b24c-4241-a46e-d8571e7d2cb2/resourceGroups/vz-prod/providers/Microsoft.Web/sites/vz-prod-api-public</ResourceId>
    <UserName>$vz-prod-api-public</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://vz-prod-api-public.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>