<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tr-api-qa-image-worker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7e695216-b24c-4241-a46e-d8571e7d2cb2/resourcegroups/tr-api-qa-image-worker/providers/Microsoft.Web/sites/tr-api-qa-image-worker</ResourceId>
    <UserName>$tr-api-qa-image-worker</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tr-api-qa-image-worker.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>